<form action="/data" method = "POST">
    <b>Model 1</b>
    <p>Alpha (e.g., .05) <input type = "text" name = "Alpha1" /></p>
    <p>Exploration rate (e.g., .20) <input type = "text" name = "Exprate1" /></p>
    <p>Exponential decay (e^(x*moves), e.g., -1) <input type = "text" name = "Expdecay1" /></p>
    <br>
    <b>Model 2</b>
    <p>Alpha (e.g., .05) <input type = "text" name = "Alpha2" /></p>
    <p>Exploration rate (e.g., .20) <input type = "text" name = "Exprate2" /></p>
    <p>Exponential decay (e^(x*moves), e.g., -1) <input type = "text" name = "Expdecay2" /></p>
    <br>
    <b>General</b>
    <p>Training pattern (e.g., ABCD) <input type = "text" name = "Pattern" /></p>
    <p>Number training pattern iterations <input type = "text" name = "Iterations" /></p>
    <p><input type = "submit" value = "Submit (results may take several minutes)" /></p>
</form>