<h3>Input Pattern: {{patt_inp}}</h3>
<h3>Iterations: {{iter_inp}}</h3>
<h3>Model 1: {{alph1}}, {{expr1}}, {{expdec1}}</h3>
<h3>Model 2: {{alph2}}, {{expr2}}, {{expdec2}}</h3>

<div class="row">
    <b> Model 1: Int "A" Q-Values </b>
    <img src={{url1a}} alt="Chart" height="400" width="400">
    <b> Model 2: Int "A" Q-Values </b>
    <img src={{url1b}} alt="Chart" height="400" width="400">
</div>
<br>
<br>
<div class="row">
    <b> Model 1: Int "B" Q-Values </b>
    <img src={{url2a}} alt="Chart" height="400" width="400">
    <b> Model 2: Int "B" Q-Values </b>
    <img src={{url2b}} alt="Chart" height="400" width="400">
</div>
<br>
<br>
<div class="row">
    <b> Model 1: Int "C" Q-Values </b>
    <img src={{url3a}} alt="Chart" height="400" width="400">
    <b> Model 2: Int "C" Q-Values </b>
    <img src={{url3b}} alt="Chart" height="400" width="400">
</div>
<br>
<br>
<div class="row">
    <b> Model 1: Int "D" Q-Values </b>
    <img src={{url4a}} alt="Chart" height="400" width="400">
    <b> Model 2: Int "D" Q-Values </b>
    <img src={{url4b}} alt="Chart" height="400" width="400">
</div>

<br>
<form action="/form" method = "POST">
<p><input type = "submit" value = "Compute new models" /></p>
</form>